<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, initial-scale=1">
        <title>ARUI Feather Bootstrap</title>
    </head>
    <body>
        <div id="react-app"><%- content %></div>
        <script src="assets/index.js"></script>
        <script>window.__main(<%- state %>);</script>
    </body>
</html>
